@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
    font-family :"Helvetica";
    color:white;
    overflow-x: hidden;
}

#cuerpo{
    width: 100%;
    margin: auto;
    padding-top: 10vw;
  
    
    
}

input, label{
    
    font-size: 2vh;
    
}


