@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
    font-family :"Times New Roman";
    color:white
}

#cuerpo{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, label{
    
    font-size: 2vh;
    
}


